*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #ffffff;
}
.hading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: .5%;
}
.hading i{
    color: rgb(206, 232, 255);
    padding-left: .5vw;
}
.hading i:hover{
   color: rgb(255, 146, 3);
   transition: 1s;
}
.help_number{
    display: flex;
    align-items: center;
}
.get_contact span{
    color: #97b1ca;
}
.get_contact .help_number span a{
    color: #97b1ca;
    text-decoration: none;
}
.get_contact .help_number p a:hover{
    text-decoration:underline;
}
.get_contact{
    display: flex;
    align-items: center;
    color: rgb(204, 224, 230);
}
.side_links i{
    color: rgb(190, 227, 248);
    font-size: 1.5vw;
}
/* .logo_admin{
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.logo_admin .logo{
    margin-left: 5%;
    width: 9vmax;
    height: 6vmax;
}
.logo_admin .logo img{
    width: 100%;
    height: 100%;
}
.logo_admin .am_hedar{
    width: 100%;
}
.admin{
    display: flex;
    justify-content: end;
}
.st_admin{
   font-size: 1vmax;
   padding: .5vmax;
   width: 8vw;
   margin: .5vmax;
   background:none;
   border: 2px solid #214080;
   color: #214080;
   border-radius: 20px;
   position: relative;
   overflow: hidden;
   transition: 1s;
}
.st_admin:hover{
    color: #dbdbdb;
}
.st_admin::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background-color: #273c7e;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: .8s;
}
.st_admin:hover::before{
    height: 180%;
}
.marquee{
   color: #214080;
   padding: .5%;
   font-weight: 500;
}
@media(max-width:650px){
    .get_contact{
        flex-wrap: wrap;
        font-size: 2vmax;
    }
}
@media(max-width:500px){
    .get_contact{
        display: none;
    }
    .hading{
       justify-content: end;
    }
    .marquee{
        font-size: 10px;
    }
    .st_admin{
        display: none;
    }
}
/*----------------------------------- navbar --------------------------------------*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
    position: absolute;
    top: 42px;
    width: 100%;
    z-index: 999;
    background-color: #8080803a;
    border-bottom: 1px solid rgb(255, 255, 255);
}
nav{
    display: flex;
}

.header ul{
    display: flex;
    margin-bottom: 0rem;
}
li{
    list-style-type: none;
    padding: 0px 13px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.global_search{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2px 15px;
    background-color: #797979a4;
}
.global_search input{
    border: none;
    background: none;
}
.global_search i{
    color: white;
}
/* .header{
    position: absolute;
    top: 44px;
    background-color: #49494969;
    z-index: 999;
    width: 100%;
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav{
    background-color: #cccccc;
   
}
#main{
   
    display: flex;
    justify-content: center;
   
    font-weight: 500; 
    margin-bottom: 0rem;
}
#main li{
    background-color: white;
    border-right: 1px solid rgb(255, 255, 255);
    padding: 0% 1%;
    list-style: none;
    position: relative;
    color: rgb(37, 37, 37);
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
}
#main li a{
    text-decoration: none;
    color: rgb(36, 36, 36);
}
#main li i{
    font-size: .8vw;
    padding: .5vmax;
} */
/* -------------------------sub -----------------------*/
#main li .sub{
    background-image: url(image/Geometric_Background1.jpg);
    background-color: #e2e9ffd3;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    top:90px;
    left: -200px;
    overflow: hidden;
    display: none;
    transition: .5s;
}
#main li:hover .sub{
    top: 30px;
    /* display: block; */
}
.sub .sub_menu{
    display: flex;
    width: 40vw;
}
#main .sub .about_nav{
    padding: 1%;
    width: 50%;
    height: 9vh;
}
#main .sub .about_nav img{
   width: 100%; 
}
.sub .about_li{
    width: 50%;
    padding: 2%;
}
#main .sub .about_li li{
    border: 1px solid rgb(106, 106, 107);
    padding: 4%;
 }
 #main li .sub .about_li li:hover{
    background-color: #273c7e;
    border: 1px solid rgb(230, 227, 227);
    transition: .5s;
 }
 #main li .sub .about_li li:hover a{
    padding-left: 7%;
    color: rgb(230, 228, 228);
    transition: .5s;
 }
#main .sub .about_li li a{
    font-weight: bold;
    color: #1f2755;
    transition: .5s;
}
.menu-icon{
    padding: 1vmax 4vmax;
    display: none;
    color: white;
}
@media(max-width:700px){
    .menu-icon{
        display: block;
        color: white;
    }
    #main{
        position: absolute;
        top: -350px;
        left:0;
        right: 0;
        flex-direction: column;
        text-align: center;
        font-size: 2vmax;
    }
    #main li{
        padding: 2%;
        width: 100%;
        background-color: #2a3750c4;
    }
}
/*----------------------------- section -----------------------*/
.carousel-dark .carousel-caption {
    background: linear-gradient( to left,transparent, #000000d5 100%);
    left: 0;
    height: 100%;
}
.carousel-caption h5{
    text-align: left;
    margin-top: 10%;
    margin-left: 15%;
    font-size: 6rem;
    font-weight: bold;
    color: white;
}
.carousel-caption h5 span{
    color: rgb(255, 187, 0);
}

#carouselExampleDark{
    height: 610px;
}
.carousel-caption{
    top: 0%;
}
.carousel-item img{
    height: 40vmax;
    animation: patra 50s linear infinite;
    background: linear-gradient(transparent, #1c1c1c 80%);
}
.next_slider{
    background-color: rgba(165, 165, 165, 0.863);
    padding: 10%;
    border-radius: 50%;
    width: 70px;
    transition: 1s;
    color: black;
}
.next_slider:hover{
    background-color: rgb(255, 255, 255);
    transition: 1s;
}
.next_slider i{
   font-size: 20px;
}
.carousel .slider_button{
    display: flex;
    margin-left: 15%;
}
.slider_button button{
    background-color: #ff9100;
    padding: 1% 2%;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}
@keyframes patra{
    100%{
        transform: scale(2);
    }
}
.carousel-item .carousel-caption img{
    width: 9vmax;
    height: 7vmax;
}
.carousel-caption p{
    letter-spacing: .1vw;
    font-size: 18px;
    color: rgb(236, 236, 236);
    text-align: left;
    margin-left: 15%;
}
.carousel-caption h2{
    font-family:fantasy;
    font-weight: 400;
    font-style: normal;
    position: relative;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 1px rgb(209, 209, 209);
    text-transform: uppercase;
}
.carousel-caption h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 27.7%;
    width: 0;
    height: 100%;
    color: #214080;
    -webkit-text-stroke: 0px rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    border-right: 3px solid rgb(48, 58, 110);
    overflow: hidden;
    animation: avi 6s linear infinite;
}
@keyframes avi{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 44.7%;
    }
   }
.important_list{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
}
.important{
    position: absolute;
    padding: 2vmax 4vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00140EE6;
    border-radius: 20px;
}
.important_list .box:nth-child(1){
    border: none;
}
.important_list .box{
    border-left: 1px solid rgb(124, 124, 124);
    text-align: center;
    padding: 0vmax 2vmax;
    font-size: 1vmax;
    width: 12vw;
}
.important_list .box a{
    text-decoration: none;
    color:rgb(235, 232, 232);
}
.important_list .box h2{
    font-size: 1.3vmax;
    font-weight: bold;
}
.important_list .box h2:hover{
    color: rgb(211, 145, 4); 
    transition: 1s;
}
.important_list .box i{
    padding: .5vmax;
    font-size: 2.5vmax;
    color: #fdb506;
}
@media(max-width:550px){
    .important{
        display: grid;
        top: 100%;
        width: 100%;
        position: relative;
    }
    .important_list .box{
        padding: 3vmax;
        border:none;
        font-size: 3vmin;
        width: 100px;
    }
    .important_list .box i{
        font-size: 8vmax;
    }
}
/*---------------------------------- secdond_page ----------------------------*/
.secdond_page{
    padding: 7% 12% 0% 12%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.abouts_page{
    padding: 1%;
    width: 50%;
}
.about_box h3{
   color: rgb(255, 115, 0);
   font-size: 2vmax;
   font-weight: bold;
   text-decoration: 2px underline rgb(85, 69, 122);
}
.about_box p{
    font-size: 1.1vmax;
    color: rgb(85, 85, 85);
 }
.abouts_page img{
    float: left;
    width:220px;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(99, 99, 99);
    margin: 2%;
}
.about h3{
    text-decoration: 2px underline rgb(24, 49, 104);
}
.notices_page{
    width: 35%;
    padding: 2%;
}
.notices a{
    text-decoration: none;
    flex-wrap: wrap;
    color: #474747;
}
.notices .student_life{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5%;
   margin: 3%;
   background:none;
   position: relative;
   overflow: hidden;
   box-shadow: 0px 0px 4px rgb(78, 78, 78) ;
}
.notices .student_life:hover{
    color: white;
}
.notices .student_life::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 2s;
    background-color: #273c7e;
}
.notices .student_life:hover::before{
   width: 180%;
}
.student_life:hover .march{
    color: white;
    transition: .8s;
}
.student_life .march{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  transition: 3s;
}
.notices .student_life i{
    transition: 2.3s;
}
@media(max-width:768px){
    .abouts_page{
        padding: 1%;
        width: 100%;
    }
    .about_box h3{
        font-size: 3vmax;
     }
    .secdond_page{
       display: grid;
    }
    .notices_page{
        width: 100%;
    }
    .notices .student_life{
        padding: 1% 3%;
    }
}
@media(max-width:550px){
    .secdond_page{
        padding: 3%;
    }
    .abouts_page{
        padding: 0%;
        flex-wrap: wrap;
        width: 100%;
    }
    .about_box h3{
       font-size: 4vmax;
    }
}
/* -------------------coures--------------------- */
.coures{
    background-color: #e4eefc;
    padding: 3% 6%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.student{
    margin: 3%;
    text-align: center;
    position: relative;
}
.student img{
    width: 40px;
    position: absolute;
    left: -11px;
}
.student .icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #36a1b0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    font-size: 60px;
    color: white; 
    transition: 1s;
}
.student .icon:hover i{
   transform: scale(1.3);
   transition: 1s;
}
.student span{
    color: #474747;
    padding: 4%;
    font-size: 4rem;
}
.student p{
    color: #5c5c5c;
    font-size: 20px;
}
/*------------------- .admissions -------------*/
.admissions_open{
    background-image: url(image/2024-05-29.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 5%;
    color: white;
}
.admissions_open h3{
    font-size: 4vmax;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 0px 0px 4px rgb(255, 144, 40);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    padding: 1%;
    color: rgb(202, 202, 202);
    text-decoration:2px  underline rgb(233, 233, 233);
}
.admissions_open h1{
    font-weight: bold;
    color: rgb(230, 230, 230);
}
/*------------------------ facilities ---------------------*/
/* .facilities{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.facilities_box{
    border: 1px solid red;
    margin: 1%;
    padding: 2%;
    width: 400px;
} */
/*------------------- Courses Offered ---------------------*/
.Courses_Offered{
    background-color: #cff2fd;
}
.Courses_Offered .c_h1_p p{
    padding-top: 2%;
    font-size: 1.5vmax;
    font-weight: bold;
    text-align: center;
    color: #ff4a03;
    text-decoration: 2px underline rgb(104, 104, 104);
}
.Courses_Offered .c_h1_p h1{
    font-size: 2.5vmax;
    font-weight: bold;
    text-align: center;
    color: #131a3f;
}
.Courses_Offered .class{
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.class .box{
    position: relative;
    height: 450px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px 5px rgba(245, 243, 243, 0.5),
                5px 5px 5px rgb(0, 0, 0, 0.05),
                 -5px -5px 5px rgba(245, 243, 243, 0.5);
    width: 300px;
    margin: 4% 1%;
    border-radius: 15px;
}
.class .ev_box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.class .ev_box .con_box{
    height: 500px;
}
.class .ev_box .con_box .ev_text{
   height: 70%;
}
.box:hover .ev_text{
   
    transition: 1s;
}
.class .ev_box .con_box h3{
    margin: 5% 3%;
    font-size: 1.5vmax;
    font-weight: bold;
    color: #1a1057;
}
.class .ev_box .con_box p{
    margin: 3%;
    color: #4b4a4a;
}
.class .box:hover .ev_box{
    transform: translateY(-50px);
     background: linear-gradient(55deg,#b95ce4,#4f29cd);
    transition: .5s;
}
.class .box:hover h3{
    color: white;
    transition: .5s;
}
.class .box:hover p{
    color: white;
    transition: .5s;
}
.class .ev_box .ev_img{
    height: 30%;
    overflow: hidden; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ev_img img{
    width: 100%;
    height: 100%;
    transition: .5s;
}
.class .box:hover img{
    transform: scale(1.2);
    transition: .5s;
}
.class .ev_text button{
    margin: 5%;
    padding: 4%;
    background-color: rgb(29, 58, 121);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
@media(max-width:1400px){
    .Courses_Offered .class{
        flex-wrap: wrap;
    }
    .class .box{
        margin-top: 10%;
    }
}
/*--------------------- thar_page -----------------*/
.thar_page .t_page{
    text-align: center;
}
.thar_page .t_page p{
    font-size: 1.5vmax;
    font-weight: bold;
    text-align: center;
    color: #ff4a03;
    text-decoration: 2px underline rgb(104, 104, 104);
}
.thar_page .t_page h1{
    padding: 0px;
    font-size: 2.5vmax;
    font-weight: bold;
    color: #191953;
}
.card_area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    flex-wrap: wrap;
}
.card{
    width: 308px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(63, 63, 63) ;
    margin: 1%;
}
.card img{
    width: 100%;
    height: 100%;
    display: block;
    transition: .5s;
}
.overlay{
    height: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent,#1c1c1c 80%);
    text-align: center;
    transition: .5s;
    color: white;
}
.overlay h3{
    margin-top: 35%;
    margin-bottom: 0px;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(255, 115, 0);
}
.overlay p{
    color: rgb(223, 218, 218);
    text-decoration: none;
    padding: 3%;
}
.card:hover img{
    transform: scale(1.2);
}
.card:hover .overlay{
    height: 100%;
}
/* ---------------------------four_page --------------------*/
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
/* scetion-header */
.scetion-header{
   text-align: center;
   margin-bottom: 50px;
}
.scetion-header .title{
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: hsl(0,0%,100%);
    line-height: 1.2;
}
/*------------ testimonials------------ */
.testimonials{
    padding: 100px 0;
    background: linear-gradient(to right, hsl(186,98%,37%),hsl(170,100%,40%));
}
.testimonials-item{
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 30px;
}
.testimonials-item .info{
    display: flex;
    align-items: center;
}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.testimonials-item .name{
    margin: 0px;
    font-size: 2vmax;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(229, 66%, 30%);
    line-height: 1.2;
}
.testimonials-item .job{
    text-transform: capitalize;
    font-size: 1.2vmax;
    font-weight: bold;
    color: hsl(14, 100%, 55%);
}
.testimonials-item p{
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}
.testimonials-item .rating{
    margin-top: 15px;
    font-size: 1.7vmax;
    color: hsl(36,88%,66%);
}
.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: hsl(0, 0%, 100%);
}
/*-------------------- contact_info----------------------- */
.contact_info{
    padding: 2% 0%;
}
.contact_info h2{
    text-align: center;
    font-size: 2.5vmax;
    font-weight: bold;
    color: #1a1a5f;
    text-decoration:2px  underline rgb(255, 115, 0);
}
.contact_page{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact_page .form{
   box-shadow: 0px 0px 5px rgb(105, 105, 105);
    background-image: url(image/5294848.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 50%;
    margin: .5%;
    padding: 1% 3%;
}
.form h3{
    font-weight: bold;
    font-size: 2vmax;
    margin: 1%;
    color: #1a1057;
    text-decoration: 2px underline rgb(255, 102, 0);
}
.contact_page .form .input{
    flex-wrap: wrap;
}
.contact_page .form .input input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #e9e5e588;
    padding: 1%;
    margin: 1%;
    font-size: 16px;
}
.contact_page .form .input textarea{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #e9e5e588;
    width: 100%;
    height: 7vmax;
    padding: 1%;
    margin: 1%;
}
.contact_page .form .input button{
    background-image: linear-gradient(to left, rgb(0, 183, 255),rgb(60, 60, 235));
    border: 1px solid rgb(117, 117, 117);
    border-radius: 10px;
    padding: 1% 4%;
    margin: 1%;
    font-size: 1.1vmax;
    color: white;
}
/*---------- contact_page--------- */
.contact_info h2{
    padding: 1%;
}
.contact_page .info h3{
    padding: 2%;
}
.contact_info .con_info{
    background-color: #121d41;
    margin: 3%;
    padding: 2%;
    color: white;
}
.contact_info .con_info .in_i{
    display: flex;
    padding: 1%;
}
.contact_info .con_info .in_i i{
    padding: 2%;
}
.contact_page .info .map{
    margin: 3%;
    height: 48%;
}
.contact_page .info .map iframe{
    width: 100%;
    height: 100%;
}
@media(max-width:900px){
    .contact_page .form .input input{
        width: 96%;
    }
}
@media(max-width:638px){
    .contact_page .form{
        width: 100%;
    }
    .contact_page .info{
        width: 100%;
    }
    .contact_page .info .map iframe{
        height: 70%;
    }
}
/*--------------------------- footer ---------------------*/
footer{
    display: flex;
    justify-content: center;
    background-color: #272727;
}
.last{
    width: 20%;
    background-color: #4b4a4a;
}
.last .ditials{
    padding: 2%;
    color: rgb(221, 219, 219);
}
.last .ditials .logo img{
    width: 4vmax;
}
.last .ditials img{
    width: 19vmax;
}
.last .ditials p i{
    padding: 2%;
    background-color: #ff8800;
    border-radius: 50%;
}
.last1{
    width: 75%;
    padding: 1%;
}
.last1 .s_link{
   border-bottom: 2px solid rgb(207, 206, 206);
   display: flex;
   justify-content: space-between;
}
.last1 .s_link .f_icon h2{
    font-weight: bold;
    font-size: 1.6vmax;
    color: rgb(204, 202, 202);
}
.f_icon .f_logo{
    display: flex;
}
.f_icon .f_logo a{
    margin-top: 5%;
    padding: 3%;
    font-size: 20px;
    color: rgb(202, 202, 202);
}
.f_icon .f_logo a:hover{
    color: rgb(255, 136, 0);
    transition: 1s;
}
.last1 .t_link{
    display: flex;
    justify-content: space-between;
}
.last1 .t_link .text_icon h2{
    text-decoration:2px underline rgb(172, 171, 171);
    font-size: 1.5vmax;
    font-weight: bold;
    padding: 2%;
    color:rgb(255, 123, 0);
}
.last1 .t_link .text_icon p{
    color: rgb(219, 217, 217);
    font-size: 1vmax;
}
@media(max-width:768px){
    footer{
        flex-wrap: wrap;
    }
    .last{
        width: 100%;
    }
    .last .ditials img{
        width: 50vmax;
    }
    .last1 .s_link{
       flex-wrap: wrap;
     }
    .last1 .t_link{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media(max-width:550px){
    .last1 .s_link .f_icon{
        font-size: 2vmax;
      }
    .f_icon .f_logo i{
        font-size: 15px;
    }
    .f_icon .f_logo{
        flex-wrap: wrap;
    }
}
.footer{
    background-color: #1d1d1d;
    color: rgb(187, 186, 186);
}
.footer .permition{
    text-align: center;
    padding: .5%;
    margin: 0px;
}
.footer .permition p:nth-last-child(3){
    padding: 1%;
    margin: 0px;
}
.footer .permition p:nth-last-child(2){
    margin: 0px;
    font-size: larger;
    color: rgb(255, 106, 7);
}
.scroll{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 50px;
    background-color: rgb(45, 47, 97);
    border-radius: 50%;
    width: 4vmax;
    height: 4vmax;
    font-size: 1.5vmax;
    color: rgb(224, 221, 221);
    z-index: 999;
    transition: 1.5s;
}
.scroll:hover{
    background-color: #ff7b00;
    transition: 1.5s;
}